{% extends "layout.html" %}
{% block nav %}
{{super()}}
{% endblock %}
{% block content %}
  <h1>Races</h1>
<div class="row">
	<div class="col-md-3">
		<div class="list-group">
  			<a href="#" class="list-group-item active" id="all">
    			<span class="badge">{{races|count}}</span>
    			All
  			</a>
  			<a href="#" class="list-group-item" id="race">
    			<span class="badge">{{races|countattribute('type', 1)}}</span>
    			Races Only
  			</a>
  			<a href="#" class="list-group-item" id="practice">
    			<span class="badge">{{races|countattribute('type', 2)}}</span>
    			Practice Only
  			</a>

		</div>
	</div>
	<div class="col-md-9">
	  <div class="table-responsive">
		  <table class="table">
		    <thead>
			    <tr>
			    	<th>Date</th>
			    	<th>Name</th>
			    	<th>Type</th>
			    	<th>Finish Place</th>
			    </tr>
		    </thead>
		    <tbody>
		    	{% for race in races %}
		    	{% if race.type == 1 %}
		    	<tr class="race">
		    	{% else %}
		    	<tr class="practice">
		    	{% endif %}
		    		<td><a href="/races/{{race.id}}">1/1/1</a></td>
		    		<td><a href="/races/{{race.id}}">{{race.name}}</a></td>
		    		<td><a href="/races/{{race.id}}">{{race.type}}</a></td>
		    		<td><a href="/races/{{race.id}}"></a></td>
		    	</tr>
		    	{% endfor %}
		    </tbody>
		  </table>
		</div>
	</div>
</div>
{% endblock %}